body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.wrapper {
    width: 500px;
    height: 100%;
    background-color: #eecece;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
}

.h1 {
    color: #333;
    height: 50px;
    width: 200px;
    background-color: crimson;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card-header h4 {
    margin: 0;
    color: #007BFF;
}

.card-body p {
    margin: 10px 0;
    color: #555;
}

.card-footer {
    text-align: right;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}


.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 2px solid #454444;
    border-radius: 8px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-body {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 15px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* Responsive Media Query */
@media (max-width: 600px) {

    .h1{
        margin: auto;
        margin-bottom: 20px;
    }

    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .wrapper{
        margin: 10px;
        border-radius: 17px;
    }

    .card {
        width: 80%;
        padding: 15px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container {
        font-size: 1.5rem;
        padding: 10px;
    }
}